OPEN_AI_MODEL_NAME = gpt-3.5-turbo
OPEN_AI_SECRET_KEY = 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
OPEN_AI_API_URL = https://api.openai.com/v1/chat/completions
PROMPT_EXPLANATIONS = Give below code with more detailed explanations. Include explanations of like logic explanations, what the code is written for etc. Strictly Provide response in markdown, and the code is:
PROMPT_IMPROVEMENTS = Give Code Improvements by giving two optimize examples of below code in more detail: Strictly, provide response in markdown, no explanations and code snippets only, and the code to optimize is:
PROMPT_DEBUGGING_STEPS = Explain Debugging Steps of with more detailed explanations. Include explanations of how to debug etc. Strictly Provide response in markdown, and the code is: